/* css for manage-users.html */
.body {
    background-color: rgb(240, 224, 159);
}
.row {
    margin-top: 20px;
    /* margin-right: 20px; */
}
.container-fluid {
    /* padding: 20px; */
    background-color: white;
}
.container-fluid h4, .add-new {
    /* padding: 5px; */
    display: inline;
    font-weight: bold;
}
a:hover {
    color: white;
}
.add-new {
    padding-left: 10px;
}
.add-new:hover {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    background-color: #333300;
}
.table {
    margin-top: 20px;
}
.role-table {
    margin-right: 30px;
    margin-left: 50px;
}
.form {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid grey;
}
.add-button {
    margin-top: 40px;
}
.form-group {
    margin-top: 20px;
}

/* css for manage-categories.html */
.table-link:hover {
    background-color: yellow;
    text-decoration: none;
}
<<<<<<< HEAD
/*truong*/
body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: #ddd;
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
=======
.title {
    font-weight: bold;
}
.form-group label {
    font-weight: bold;
>>>>>>> 327e6cd45dd1605c27483f170399cfa76c7efff2
}