/* css for manage-users.html */
.body {
    background-color: rgb(240, 224, 159);
}
.row {
    margin-top: 20px;
    /* margin-right: 20px; */
}
.container-fluid {
    /* padding: 20px; */
    background-color: white;
}
.container-fluid h4, .add-new {
    /* padding: 5px; */
    display: inline;
    font-weight: bold;
}
a:hover {
    color: white;
}
.add-new {
    padding-left: 10px;
}
.add-new:hover {
    color: white;
    text-decoration: none;
    border: 1px solid black;
    background-color: #333300;
}
.table {
    margin-top: 20px;
}
.role-table {
    margin-right: 30px;
    margin-left: 50px;
}
.form {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid grey;
}
.add-button {
    margin-top: 40px;
}
.form-group {
    margin-top: 20px;
}

/* css for manage-categories.html */
.table-link:hover {
    background-color: yellow;
    text-decoration: none;
}
.title {
    font-weight: bold;
}
.form-group label {
    font-weight: bold;
}