* {
    box-sizing: border-box;
}

.single-post-summary {
  font-size: 18px;
  color: grey;
}

.content {
  margin-top: 40px;
}

.same-category {
margin: 40px;
}

.title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-title {
  font-family: Georgia;
  font-size: 20px;
  font-weight: bold;
}


.active {
    background-color: #4CAF50;
}

ul {
  list-style-type: none;
  overflow: hidden;
}

ul b {
    display: block;
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    
}

.author-img {
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

p {
  display: block;
  /* padding: 8px; */
  /* background-color: #dddddd;   */
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
footer {
  padding: 20px;
  text-align: center;
  background-color:#343a40;
}
footer p {
  color: white;
}

/*
 

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a:hover:not(.active) {
    background-color: #111;
}
*/

