/* css for index.html */
.container, li.list-group-item {
    /* background-color: azure; */
}
.container nav {
    font-size: 14px;
    font-weight: bold;
    background-color:#4da6ff;
}
/* .row {
    padding-top: 20px;
} */
.col-12 {
    padding-left: 25px;
    margin-top: 20px;
}
.col-6 {
    margin-top: 10px;
    padding-left: 30px;
}
.title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.summary {
    color: grey;
}
.post-title {
    font-family: Georgia;
    font-size: 20px;
    font-weight: bold;
}
.popular-post-title {
    font-family: Georgia;
    font-size: 18px;
    font-weight: bold;
}
.post-title-date, .post-title-author {
    color: red;
}
img {
    height: auto;
    width: 100%;
}
h3 {
    padding-left: 20px;
}
footer {
    margin-top: 150px;
    padding: 20px;
    text-align: center;
    background-color:#343a40;
}
footer p {
    color: white;
}
.big-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.category {
    margin-top: 0px;
    margin-bottom: 20px;
}
hr {
    border-color: #4d94ff;
}
.see-more {
    margin: 0px;
    color: #4d94ff;
}
.see-more a:hover {
    text-decoration: none;
}
#slider {
    height: 400px;
}


/* css for single-post.html */
.single-post-summary {
    font-size: 18px;
    color: grey;
}
.content {
    margin-top: 40px;
}
.same-category {
  margin: 40px;
}
/* .active {
    background-color: #4CAF50;
} */
.author-img {
    float: left;
    width: 50px;
    height: 50px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.same-category img {
    width: 100%;
    height: auto;
}
#cover {
    
    padding: 10px;
    height: 500px;
}
